body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f8f8;
}

main {
    display: grid;
    grid-template: 1fr auto / auto;
    gap: 10px;
}

#profile {
    width: 200px;
}

h1 {
    grid-column: 1 / -1;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header span {
    font-size: xx-large;
    padding: 10px;
}

#menu {
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.open {
    display: flex;
}

#menu.open::before {
    content: "X";
}

#menu::before {
    content: "\2630";
}

nav {
    display: none;
    background-color: #444444;
    color: white;
    padding: 10px;
    text-align: center;
    flex-direction: column;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

#overlay {
    position: absolute;
    top: 15rem;
    left: 1rem;
    font-size: 1rem;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    width: 20rem;
}

#temple_hero img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

#dark {
    border: 0;
    background: none;
    cursor: pointer;
}

#dark::before {
    content: "🌑";
}

#dark.dark::before {
    content: "☀️";
}

.dark {
    background-color: black;
    color: white;
}

.card.dark {
    background-color: rgb(32, 32, 32);
    color: white;
}